body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 25px;
  text-align: center;
  background: #000;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.QR-button {
  font-size: 15px;
  font-family: Arial;
  width: 140px;
  height: 50px;
  color: #ffffff;
  background-color: rgb(128, 0, 0);
  font-weight: bold;
  border: none;
  border-radius: 20px;
}
.QR-button:hover {
  background: rgb(255, 47, 47);
}
.Line-button {
  font-size: 15px;
  font-family: Arial;
  width: 140px;
  height: 50px;
  color: #ffffff;
  background-color: green;
  font-weight: bold;
  border: none;
  border-radius: 20px;
}
.Line-button:hover {
  background: rgb(8, 97, 39);
}
.img {
  width: 300px;
  height: 300px;
}
